/* General Styling */
body{
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    margin: 20px;
    background-image: url('purple.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header */
header {
    background-color: #b02aeee3;
    color: rgb(31, 5, 32);
    padding: 10px 0;
}

h1 {
    margin: 0;
}

/* Main Form */
main {
    margin: 20px auto;
    width: 300px;
    background: rgb(255, 253, 253);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #6e0357;
    color: rgb(245, 249, 250);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #971e7d;
}

/* Progress Section */
#progress {
    font-size: 1.2em;
    color: #1f0a42;
    font-weight: bold;
}
/* Footer */
footer {
    margin-top: 20px;
    font-size: 1.7em;
    color: #a1006c;
}
