/* General Styling */
body{
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    margin: 20px;
    background-color: #eef778;
}

/* Header */
header {
    background-color: #f9fd1be3;
    color: rgb(109, 42, 16);
    padding: 10px 0;
}

h1 {
    margin: 0;
}

/* Main Form */
main {
    margin: 20px auto;
    width: 300px;
    background: rgb(255, 253, 253);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #133cac;
    color: rgb(50, 57, 59);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Progress Section */
#progress {
    font-size: 1.2em;
    color: #8a5716;
    font-weight: bold;
}
/* Footer */
footer {
    margin-top: 20px;
    font-size: 1.7em;
    color: #0a0606;
}
